<div class="container-fluid">
  <div class="sub-container p-5 bg-white">
    <div class="header">
      <div class="main-header mb-3 text-center fw-normal">
        <span class="fs-4">Food Receipes</span>
      </div>
      <div class="sub-header fs-6 mb-5 text-center text-danger">
        Reset Password
      </div>
    </div>
    <div class="body">
      <form>
        <div class="mb-5">
          <label for="exampleInputEmail1" class="form-label">Username</label>
          <input
            type="email"
            class="form-control"
            id="emailId"
            name="emailId"
          />
          <div
            id="emailHelp"
            class="form-text text-danger"
            style="display: none"
          >
            Username Is Required Field *
          </div>
        </div>
        <div class="mb-3" *ngIf="IsEmailIDExist">
          <label for="exampleInputPassword1" class="form-label"
            >New Password</label
          >
          <input
            type="password"
            class="form-control"
            id="newPassword"
            name="newPassword"
            (keyup)="handleChange()"
            required
            ngModel
          />
          <div
            id="newPasswordHelp"
            class="form-text text-danger"
            style="display: none"
          >
            New Password Is Required Field *
          </div>
        </div>
        <div class="mb-3" *ngIf="IsEmailIDExist">
          <label for="exampleInputPassword1" class="form-label"
            >Confirm Password</label
          >
          <input
            type="password"
            class="form-control"
            id="confirmPassword"
            name="confirmPassword"
            (keyup)="handleChange()"
            ngModel
            required
          />
          <div
            id="confirmPasswordHelp"
            class="form-text text-danger"
            style="display: none"
          >
            Confirm Password Is Required Field *
          </div>
        </div>
        <button
          class="btn btn-light mt-3 float-start text-primary"
          (click)="handleNevigateSignIn()"
        >
          Sign In
        </button>
        <button
          type="submit"
          class="btn btn-primary mt-3 float-end"
          (click)="handleResetPassword()"
        >
          Reset Password
        </button>
        <input type="hidden" name="userId" id="userId" />
      </form>
    </div>
  </div>
</div>

<!-- SPINNER CODE -->
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="square-jelly-box"
  [fullScreen]="true"
  ><p style="color: white">Loading...</p></ngx-spinner
>
