<div class="container-fluid">
  <div class="header">
    <div class="row pt-3 ps-3 m-0">
      <div class="col-10 text-white fs-4 mt-2">FOOD RECEIPES</div>
      <!-- <div class="col-4 text-white fs-4 mt-2">IMyTravel</div> -->
      <div class="col-2 text-dark fs-6 mt-2 nav-button">
        <a class="button" (click)="handleNavSignIn()">SIGNIN</a>&nbsp; &nbsp; &nbsp;<a class="button"
          (click)="handleNavSignUp()"
          >SIGNUP</a
        >&nbsp;
      </div>
    </div>
  </div>
  <div class="body"></div>
</div>
