<div class="container-fluid">
  <div class="header">
    <div class="row pt-3 px-3 m-0">
      <div class="col-4 text-white fs-4 mt-2">FOOD RECEIPES</div>
      <div class="col-4 text-white fs-4 mt-2"></div>
      <div class="col-4 text-white fs-6 mt-2 nav-button">
        <a (click)="handleNavHome()">Home</a>&nbsp; &nbsp;
        <a (click)="handleNavProfile()">Profile</a>&nbsp;&nbsp; &nbsp;
        <!-- <a (click)="handleNavMyBooking()">Receipes</a>&nbsp;&nbsp; &nbsp; -->
        <a (click)="handleNavReview()">Review</a>&nbsp;&nbsp; &nbsp;
        <a (click)="handleNavSignOut()">SignOut</a>
      </div>
    </div>
  </div>
  <div class="body">
    <router-outlet></router-outlet>
  </div>
</div>
